:root {
    --light-blue-color: #57CBD8;
    --deep-navy-blue: #262834;

}


.bg-light-blue {
    background: var(--light-blue-color);
}
.bg-deep-navy-blue {
    background: var(--deep-navy-blue);
}

.calculator__wrapper {
    height: 100vh;
}



.calculator {
    background: #111117;
    color: #fff;
    width: 600px;
    font-size: 1.5rem;
    font-weight: 600;
}

.calculator .col-3:hover , .calculator .col-6:hover {
    cursor: pointer;
    opacity: .4;
}
